.services-container {
    width: 100%;
    padding: 40px 150px; 
}

.services-header {
    margin-top: -50px;
    text-align: center;
    margin-bottom: 50px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; 
    justify-items: center;
    align-items: start;
}

.service-card {
    border: 2px solid aliceblue;
    background-color: aliceblue;
    border-radius: 30px;
    width: 220px;
    height: 220px;
    box-shadow: 0 12px 25px rgba(53, 182, 237, 0.8);
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    padding: 15px;
}

.service-card:hover {
    transform: scale(1.1);
}

.service-card img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.service-card h6 {
    margin-top: 10px;
    font-weight: 600;
}

.service-card p {
    font-size: 14px;
    margin-top: 10px;
}


@media (max-width: 992px) {
    .services-container {
        padding: 30px 20px;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .services-header {
        margin-top: 100px;
    }

    .services-header h3 {
        font-size: 32px;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
        justify-content: center;
    }

    .service-card {
        width: 200px;
        height: auto;
        padding: 20px;
    }

    .service-card p {
        font-size: 13px;
    }
}


@media (max-width: 480px) {
    .services-container {
        padding: 20px;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }

    .service-card {
        width: 160px; 
        padding: 15px;
    }

    .service-card img {
        width: 35px;
        height: 35px;
    }

    .service-card h6 {
        font-size: 14px;
    }

    .service-card p {
        font-size: 12px;
    }
}
