.skills-container {
  width: 100%;
  padding: 60px 20px;
  background: linear-gradient(135deg, #f0f5ff, #e3f2ff);
  text-align: center;
}

.skill-title h4 {
  font-size: 32px;
  margin-top: 60px;
  font-weight: 600;
  text-decoration: underline solid #ef2d40;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  gap: 40px;
  justify-items: center;
}

.skill-item {
  text-align: center;
  transition: transform 0.3s ease;
  padding: 10px;

}

.skill-item:hover {
  transform: translateY(-5px);
}

.skill-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.skill-item p {
  margin-top: 10px;
  font-weight: 500;
  color: #0077b6;
}

/* Responsive */
@media (max-width: 768px) {
  .skills-grid {
    gap: 25px;
  }

  .skill-item img {
    width: 60px;
    height: 60px;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 40px;
    justify-items: center;
  }

  .skill-item p {
    font-size: 14px;
  }
}
